// THREE JS 

#threejs-canvas {
    height: 95vh!important;
    width: 95vw!important;

    background-color: #121212;


    // filter: saturate(10) invert(1) hue-rotate(190deg) contrast(5);

    filter: saturate(1.5) invert(0) hue-rotate(0deg) contrast(1.5);

}